<configuration>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>@LOGBACK_LOG_FILE_LOCATION@/changeme.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>@LOGBACK_LOG_FILE_LOCATION@/changeme.%i.log.zip</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>3</maxIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>5MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%-30(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-30(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
    <syslogHost>@LOGBACK_SYSLOG_HOST@</syslogHost>
    <port>@LOGBACK_SYSLOG_PORT@</port>
    <facility>LOCAL3</facility>
    <suffixPattern>[%thread] %-5level %logger{36} %msg</suffixPattern>
  </appender>

  <root level="error">
    <appender-ref ref="@LOGBACK_APPENDER@"/>
  </root>
</configuration>