@import "bootstrap/mixins.less";

body {
    padding-top: 60px;
}

.entity-actions {
    padding-bottom: 20px;
}

.datatable-select {
    width: 15px;
}

.datatable-actions {
    width: 150px;
}

.alert-box {
    height: 50px
}

.footer {
    margin-top: 45px;
    padding: 35px 0 36px;
    border-top: 1px solid #E5E5E5;
    p {
        margin-bottom: 0;
        color: #555;
    }
}
