.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:28px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
body{padding-top:60px;}
.entity-actions{padding-bottom:20px;}
.datatable-select{width:15px;}
.datatable-actions{width:150px;}
.alert-box{height:50px;}
.footer{margin-top:45px;padding:35px 0 36px;border-top:1px solid #E5E5E5;}.footer p{margin-bottom:0;color:#555;}
